body {
    padding-top: 67px;
    background: #fff;
    /* font-family: 'Lora', serif; */
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Kalam', cursive; */
    /* font-family: 'Patrick Hand', cursive; */
}

.nav-link:hover {
    border-bottom: 1px solid #070707;
}

#carousel-example-2 {
    padding-top: .07rem;
    padding-bottom: .07rem;
}

.carousel-item {
    max-height: 87vh;
}

.midSlide, .midSlide2, .midSlide3 {
    margin-top: -26%;
}

.whiteLink {
    color: white;
    font-weight: bold;
}

.whiteLink:hover {
    color: aqua;
}

.blueLink {
    color: cyan;
    font-weight: bold;
}

.about {
    margin-top: 3vh;
    background-image: linear-gradient(to bottom right, #8fc6fd, rgb(214, 214, 253));
    color: #070707;
}

.reviewsLink {
    color: darkblue;
    font-weight: bold;
}

.reviewsLink:hover {
    color: yellow;
    text-decoration: solid underline gold;
    background-color: black;   
}

.nhifLink {
    color: rgb(12, 12, 12);
}

.nhifLink:hover {
    color: #24bced;
}

.search {
    height: 89vh;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: solid 1px #333;
    border-radius: 30px;
}

.searchForm input{
    text-align:center;
    font-size: large;
 }

 .reviews, .search, .login {
    padding-top: 1rem;
 }

 .blueHR {
     color: #070707;
     font-weight: bold;
 }

 .share {
    font-size: 21px;
    font-weight: bold;
    color: #0275d8;
 }

#share {
    font-size: 21px;
    font-weight: bold;
    color: #0275d8;
    
}
#share a {
    font-size: 21px;
    font-weight: bold; 
 }

.form-text {
    display: none;
}

.hospImg {
    max-width: 100%;
    max-height: 100%;
}

.popover-header {
    text-align: center;
    background-image: linear-gradient(to bottom right, #8fc6fd, rgb(214, 214, 253));
}

.popover-body {
    text-align: center;
    background-color: white;
}

.popover-body img {
    width: 190px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #8fc6fd, rgb(214, 214, 253));
}

.postedOn {
    color: rgb(97, 97, 97);
}

.form-group label {
    display: none;
}

.topBuffer {
    margin-top: 1rem;
}

@media only screen 
  and (device-width: 360px){
.midSlide3 {
    margin-top: -40%;
}
}

@media only screen 
  and (device-width: 411px){
      .midSlide2 {
          margin-top: -36%;
      }
      .midSlide3 {
          margin-top: -40%;
        }
}

@media only screen 
  and (device-width: 375px){
      .midSlide3 {
          margin-top: -40%;
        }
}

@media only screen 
  and (device-width: 414px){
      .midSlide2 {
          margin-top: -35%;
      }
      .midSlide3 {
          margin-top: -40%;
        }
}

@media only screen 
  and (device-width: 768px){
      .midSlide, .midSlide2 {
          margin-top: -37%;
      }
      .midSlide3 {
          margin-top: -43%;
        }
}

@media only screen 
  and (device-height: 1366px){
      .midSlide, .midSlide2 {
          margin-top: -37%;
      }
      .midSlide3 {
          margin-top: -45%;
        }
}