{% extends 'hnm_pages/base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{{ block.super }}


  <div class="container search">
    <div class="jumbotron jumbotron-fluid vcenter">
      <div class="row d-block text-center">

        <h3> Type a location to find NHIF-registered hospitals</h3>

        <div class="md-form active-cyan active-cyan-2 mb-3 d-flex justify-content-center">
            <form action="{% url 'search_hospitals' %}" class="form-inline searchForm">
              <input class="form-control mr-lg-1" name="search" type="search" placeholder="Search...  &#xF002;" style="font-family:Arial, FontAwesome;" aria-label="Search">
            </form>
        </div>


      </div>
    </div>
  </div>

{% endblock %}