{% extends 'hnm_pages/base.html'%}
{% load bootstrap4 %}


{% block content %}
{{ block.super }}

  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/hospic5.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h1 class="h1-responsive"> <a href="/all-reviews" class="whiteLink"> Join the community and share your hospital reviews </a> </h1>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/static/images/hosppic1.jpg"
            alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h1 class="h1-responsive"> <a href="{% url 'index' %}#share" class="whiteLink"> Let others know how easy it now is to find a hospital </a> </h1>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/static/images/findHospital.jpg"
            alt="Third slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h1 class="h1-responsive"> <a href="/search" class="whiteLink"> Find NHIF-registered hospitals near you </a> </h1>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->

<!-- ABOUT SECTION (about and how to use this app)-->
      <span class="sr-only" id="about">About app/how to use NHIF-Hospitals_Near_Me app</span>

  <div class="jumbotron jumbotron-fluid about">
    <div class="container">
      <h1 class="h1-responsive"> <strong> About/How to use this app </strong> </h1>
      <p class="lead"> This app was made with you in mind...to make it easier for you to find the NHIF-registered hospitals near you/in your location. To make the most of this app, just follow the steps below:</p>
      <ol>
        <li> Click the <strong> find a hospital </strong> link on the navbar to be navigated to the search page, </li>
        <li> You'll then <strong> select a location </strong> so as to retrieve a list of hospitals in that location, </li>
        <li> You can then <strong> select a hospital </strong> from your search results so as to view more information about it. </li>
        <li> You can also <strong> register or login </strong> so that you can <strong> <a href="/all-reviews"> see hospital reviews or share your own experience/review of a hospital you visited. </a> </strong> </li> 
      </ol>

      <p class="text-center whiteLink" id="share"> Share on: 
      <a href="https://twitter.com/share" class="mr-3"> <i class="fa fa-twitter"> </i> Twitter</i> </a> 
      <a href="https://linkedin.com/share" class="mr-3"> <i class="fa fa-linkedin"> </i> Linkedin</i> </a> 
      <a href="https://facebook.com/share"> <i class="fa fa-facebook"> </i> Facebook</i> </a> 
      </p>
    </div>
  </div>
<!-- end of ABOUT SECTION -->

<!-- BRIEF NHIF OVERVIEW -->
<div class="jumbotron text-center hoverable p-4">
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <!-- official NHIF logo -->
      <div class="view overlay">
        <img src="/static/images/nhiflogo.jpg" class="img-fluid" alt="NHIF logo as at Nov 2019">
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <h3 class="h4 mb-4">Brief NHIF Overview</h3>
      <p class="font-weight-normal"> <strong> National Hospital Insurance Fund (NHIF) </strong> is a State Parastatal whose core mandate is to provide medical insurance cover to all its members and their declared dependants (spouse and children). The NHIF membership is open to all Kenyans who have attained the age of 18 years and years and have a monthly income of more than Ksh 1000. <strong> <a href="http://www.nhif.or.ke/healthinsurance/home" class="nhifLink">  If you'd like to know more about NHIF, click here. </a>  </strong> </p>
      
    </div>
  </div>
</div>

<!-- END OF NHIF OVERVIEW-->

{% endblock %}