<header>


    <nav class="navbar navbar-expand-lg navbar-dark primary-color-dark fixed-top">
      <a href="/"> <img class="navbar-brand rounded-circle" src="/static/images/favicon.jpeg" style="width:50px; height:50px;"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">NHIF-Hospitals_Near_Me <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Find a Hospital</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all-reviews"}>Hospital Reviews</a>
          </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
                <a class="nav-link" href="#" id="popover">  {{request.user.username}} <i class="fa fa-user-circle-o" style="font-size:20px"></i>  </a>
                
                <div id="popover-head" style="display:none;">
                  <h3> Hi {{ request.user.username }}! </h3>
                  <p> We hope you're enjoying your NHIF-HNM experience </p>
                </div>
                <div id="popover-content" style="display:none;">
                  <img src="/static/images/happyclient.png">
                <a class='nav-link' href='/logout'><i class='fa fa-sign-out' style='font-size:30px'></i> rudi tena :) </a>
                </div> 

          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Register/Login </a>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>

</header>

